*
{
  margin: 0;
  padding: 0;
}
.bgcolor
{
  background-image: linear-gradient(skyblue,pink,white);
  height: 100vh;
}
.h1
{
  text-align: center;
  padding-top: 30px;
  font-size: 40px;
  text-shadow: 4px 5px rgb(84, 196, 241);
  font-family: sans-serif;
  font-weight:800;
  cursor: pointer;
}
.btn
{
  display: flex;
  justify-content: space-evenly;
  margin: 70px;
}
.btnfont
{
  padding: 25px;
  border-radius: 4rem;
  border: 3px solid;
  font-size: large;
  font-weight: 600;
  background-color: rgba(143, 197, 197, 0.854);
  cursor: pointer;
}
.btnfont:hover
{
  background-color: aqua;
}

.box
{
  display: flex;
}